<li [ngClass]="{'complete': item.completado === true}" 
    [ngClass]="{'editing': editando === true }">

    <div class="view">
        <input class="toggle" type="checkbox" [formControl]="checkCompletado">
        
        <label (dblclick)="update()">{{ item.texto }}</label>
        
        <button (click)="delete()" type="buttton" class="destroy"></button>
    </div>
    <input #input class="edit" (keyup.enter)="_updateTexto()" type="text" [formControl]="textoEditar" (blur)="onCancelEdit()" >
</li>