<section class="todoapp">
    <!-- Add app -->
    <app-add></app-add>
    
    <input id="toggle-all" class="toggle-all" type="checkbox" (click)="toggleAll();completado = !completado">

    <label for="toggle-all">Mark all as complete</label>
    
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
        <!-- List app -->
        <app-list></app-list>
    </section>

    <!-- Footer app list-->
    <app-footer></app-footer>
    
</section>